services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    networks:
      - wheelnet

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    networks:
      - wheelnet

networks:
  wheelnet:

