/* 全部 div 框模型 */
div {
    box-sizing: border-box;
}

/* banner 圖片 */
.banner {
    width: px;
    height: 325px;
    background-image: url('img.png');
    background-size: cover;      /* 填滿容器 */
    background-position: center; /* 置中 */
}

/* 文字內容區 */
.contain {
    padding: 10px;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    color: white;
    overflow-y: auto; /* 超過高度出現捲軸 */
}

/* 按鈕區 */
.btn-box {
    display: flex;
    align-items: center;     /* 置中 */
    flex-direction: column; /* 按鈕縱向排列 */
    margin-left: -550px; /* 調整按鈕位置 */
}

button {
    width: 400%;
    padding: 12px;
    margin-bottom: 40px;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background 0.2s;
}

button:hover {
    background-color: #ffffBB;
}