/* 全部 div 框模型 */
div {
    box-sizing: border-box;
}

/* main.css contain: */

/* banner 圖片 */
.banner {
    width: px;
    height: 325px;
    background-image: url('img.png');
    background-size: cover;      /* 填滿容器 */
    background-position: center; /* 置中 */
}

/* 文字內容區 */
.contain {
    padding: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    margin-top: 10px;
    overflow-y: auto; /* 超過高度出現捲軸 */
}

/* 按鈕統一樣式 */
button {
    width: 100%;
    padding: 12px;
    margin-top: 40px;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
    background-color: #007aff;
    color: white;
    transition: background 0.2s;
}

button:hover {
    background-color: #0056cc;
}